:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color:#212121;
    --secondary-color:#2196F3;
    --third-color:#FFFFFF;
    --fourth-color:#757575;
    --fifth-color: #2F303A;
    --sixth-color:rgba(255, 255, 255, 0.6);
    --seventh-color:#F5F4FA;
    --line-color: #ECECEC;
    --background-color:#E5E5E5;
    --background-color2:#F5F4FA;
    --borderline: #EEEEEE;
    --mainfill:#AFB1B8;
}
body {
    font-family: var(--main-font);
    color:var(--main-color);
    
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
ul,
ol {
    padding: 0;
    margin: 0;

}
p {
    padding: 0;
}
span{
    color:var(--secondary-color)
}
.list {
    list-style: none;
    
}
.link {
    text-decoration:none;
}
img {
    display: block;
}
.container {
    width: 1200px;
    padding: 0 15px;
    align-items: center;
    margin: 0 auto;
}
section {
    padding-bottom: 94px;
    padding-top: 94px
}
/* ==== HEADER ==== */
/*agencja header*/
.headerindex {
    background-color: var(--third-color);
    border-bottom: 1px solid var(--line-color);
}
.headerindex .container{
    display:flex;
    align-items: center;
}

.navigation-list {
    display:flex;
    align-items: center;
}
/*portfolio header*/
.header {
    background-color: var(--third-color);
    border-bottom: 1px solid var(--line-color);
}
.header .container{
    display:flex;
    align-items: center;
}
.header .navigation-logo {
    padding-top: 24px;
    padding-bottom:25px;
    margin-right:93px;
    color:var(--main-color);
}

/* =====WEBSTUDIO===== */
.headerindex .navigation-logo {
    padding-top: 24px;
    padding-bottom:25px;
    margin-right:93px;
    color:var(--main-color);
}
.navigation-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
}

.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.333;
    letter-spacing: 0.02em;
    color: var(--main-color);
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.navigation-list-link:active {
    color:var(--secondary-color);
    transition-duration:250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list-item:not(:last-child) {
    margin-right: 46px;
}


.mailto {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.333;
    letter-spacing: 0.02em;
    margin-left:345px;
    color:var(--fourth-color);
}
.mailto:hover,
.mailto:focus,
.mailto:active {
    color:var(--secondary-color);
    fill:var(--secondary-color);
    transition-duration:250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.telephone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.333;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-left:30px;
}

.telephone:hover,
.telephone:focus,
.telephone:active {
    color: var(--fourth-color);
    fill:var(--fourth-color);
    transition-duration:250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*-- IKONY HEADER--*/


.current::after {
    position:absolute;
    content: '';
    width: 53px;
    height: 4px;
    background: var(--secondary-color);
    border-radius: 2px;
    top:76px;
}

.current2::after {
    position:absolute;
    content: '';
    width: 58px;
    height: 4px;
    background: var(--secondary-color);
    border-radius: 2px;
    top:76px;
}
.mailicon {
   justify-content: center;
   align-items: center;
   margin-right: 10px;
   justify-content:center ;
}

.phoneicon {
    justify-content: center;
   align-items: center;
   margin-right: 10px;
}

/* ==== END OF HEADER ==== */

/* ==== MAIN ==== */
.title {
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
     url("../images/imgmainpic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-color);
    margin-bottom: 40px;
    max-width: 696px;
    margin-left: auto;
    margin-right:auto;
    margin-top:106px;
}

.modal-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background: var(--secondary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 42px 10px 41px;
    margin-left: auto;
    margin-right:auto;
   
}
.modal-button:focus,
.modal-button:hover,
.modal-button:active {
    color: var(--third-color);
    transition-duration:250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.paragraphs {
    background-color: var(--background-color);
}
.paragraphs .container  {
    padding-top: 0;
    padding-bottom: 0;
}
.paragraphs-list  {
    display: flex;
    justify-content: space-between;
}

.paragraph-list-item:not(:last-child) {
    margin-right:30px;
}

.paragraph-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.paragraph-content {
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--fourth-color);
}
/*ikony paragrafów*/
.parpic {
    width: 270px;
    height: 120px;
    background-color: var(--seventh-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ==== about us ====*/
.about {
    background-color: var(--background-color);
    padding-top: 0px;
}

.div-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.aboutus-list {
    display: flex;
    justify-content: space-between;
    
}
.aboutus-list:not(:last-child) {
    margin-right:30px;
}
.dopic {
    position: relative;
    overflow: hidden;
    mix-blend-mode: normal;
    display: block;
}
.dopic .label {
    position: absolute;
    font-family: var(--main-font);
    font-size: 14px;
    background-color: rgba(47, 48, 58, 0.8);
    color: #fff;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 27px 90px;
    font-weight: 700;
    line-height: 16px;
    margin: 0;
}

/* ==== end about us ====*/
/* ==== team ==== */
.team {
    background-color: var(--background-color2);
}
.team .container {
    padding-top: 0px;
    padding-bottom: 0px;
}
.worker-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 290px, 99px, 59px;
}
.team-workers {
    display: flex;
    justify-content: space-between;
}
.team-workers-pic {
    background-color: var(--third-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom:30px;
    margin:0px;    
}

.team-workers-pic:not(:last-child) {
    margin-right: 30px;
}
.worker-name {
    margin-top:30px;
}

.worker-position {
    font-size: 16px;
    line-height: 1.583;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--fourth-color);
}
/* ikony workes*/
.social-link {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
}
.social-link:not(:last-child){
    margin-right:10px;
}
.social-link-item {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: var(--third-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: var(--mainfill);
}
.social-icon {
    width: 20px;
    height: 20px;
}

.social-link-item:hover,
.social-link-item:focus {
    background-color: var(--secondary-color);
    fill:var(--third-color);
    transition-duration:250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-item:not(:last-child) {
    margin-right:10px;
}

/* ==== end workers ==== */
/*KLIENCI*/
.clients-logos {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.clients-logo-item {
    width:170px;
    height: 92px;
    border: 1px solid var(--mainfill);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill:var(--mainfill);
    
}
.comp {
    fill:var(--mainfill);
}

.clients-logo-item:hover,
.clients-logo-item:focus {
    border-color: var(--secondary-color);
    transition-duration:250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.comp:hover,
.comp:focus,
.comp:active {
    fill:var(--secondary-color);
    transition-duration:250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



